.button {
  padding: 6px 12px;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 8px;
  height: 34px;
  width: 100px;
  border: none;
  background: #000000;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}
